#add-button-section{
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 100%;
    background-color: white;
    box-shadow: .25rem .25rem 1rem grey;
}

#add-button-line1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 2.75rem;
    height: .75rem;
    margin: 0;
    padding: 0;
    background-color: green;
}

#add-button-line2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.75rem;
    height: .75rem;
    margin: 0;
    padding: 0;
    background-color: green;
}