#deal-form{
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 0;
    background-color: white;
    max-height: 90vh;
}

#deal-fieldset{
    margin: 0;
    padding: 0;
}

#deal-legend{
    margin: 0;
    padding: 0;
}

.deal-form-input-container{
    display: grid;
    grid-template: auto auto auto auto / auto auto auto;
}

.deal-input-container{
    display: flex;
    flex-direction: column;
    width: 16rem;
    margin: 1rem auto;
    border: 1px solid black;
}

.deal-label{
    font-size: 1rem;
}

.deal-input{
    height: 2rem;
    font-size: 1rem;
}

.deal-input-check{
    display: inline-block;
    width: 1.1rem;
    margin: 0;
}

.deal-input-time{
    display: inline-block;
    height: 2em;
    font-size: 1.05rem;
    margin: 0;
}

#new-deal-button{
    display: block;
    font-size: 1rem;
    width: 6.5rem;
    height: 2.5rem;
    margin: 2rem auto 1.5rem auto;
}