#dashboard-section{
    display: grid;
    grid-template: 100% / 16rem auto ;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

#dashboard-view-section{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}