#deals-table{
    width: 100%;
    height: 35rem;
    border: 1px solid black;
    overflow: scroll;
}

#deals-table-header{
    width: 100%;
    border: 1px solid black;
}

#deals-table-data-row{
    width: 100%;
    border: 1px solid black;
}

th{
    background-color: red;
    color: white;
}