#header-section{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(89, 87, 87);
}

#header-list-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.active-link{
    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(255, 163, 255) !important;
}

.header-list{
    display: block;
    width: 100%;
    height: 2.75rem;
    padding: 0;
    margin: .25rem 0;
    text-align: center;
    line-height: 2.7rem;
    list-style: none;
    text-decoration: none;
    color: white;
    border: .001rem solid transparent;
    border-radius: .25rem;
    cursor: pointer;
}

#sign-out-button{
    position: absolute;
    width: 90%;
    z-index: 0;
    bottom: 0rem;
    left: 50%;
    padding: 1.25rem 0;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white;
    background-color: rgb(255, 163, 255);
    border: none;
}