#header-section{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(89, 87, 87);
}

#header-list-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.header-list{
    padding: 1.25rem 0;
    margin: .25rem 0;
    text-align: center;
    list-style: none;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.header-list:hover{
    background-color: rgb(255, 163, 255);
}

#sign-out-button{
    width: 90%;
    position: relative;
    z-index: 0;
    bottom: 5.5rem;
    left: 50%;
    padding: 1.25rem 0;
    transform: translate(-50%, 0);
    font-size: 1rem;
    color: white;
    background-color: rgb(255, 163, 255);
    border: none;
}